@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    color: #04146c;
}

h1{
    font-size: 53px;
    font-weight: 900;
    border-bottom: 2px solid #04146c;
}
p{
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

img{
    width: 130px;
}

main{
    width: 100%;
    display: flex;
    justify-content:space-around;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

